<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" executionTimeout="300" maxRequestLength="40960" useFullyQualifiedRedirectUrl="false" />


    <!--自定义控件开始-->
    <pages>
      <controls>
        <add tagPrefix="Html" src="~/UserControl/List.ascx" tagName="List" />
        <add tagPrefix="Html" src="~/UserControl/Article.ascx" tagName="Article" />
        <add tagPrefix="Html" src="~/UserControl/Banner.ascx" tagName="Banner" />
        <add tagPrefix="Html" src="~/UserControl/Files.ascx" tagName="Files" />
      </controls>
    </pages>
    <!--自定义控件结束-->
  </system.web>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=.;Initial Catalog=Blog;Persist Security Info=True;User ID=sa;Password=123"></add>
    <add name="cache" connectionString="cache"/>
    <add name="aotuModel" connectionString="aotu"/>
  </connectionStrings>
</configuration>